/*https://colorhunt.co/palette/8cba51deff8bfbceb5ff5d6c*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FCDDB0; /*trocs o fundo do site*/
}

ul/*modifica a lista do site */ {
    list-style: none;
    font-weight: bold; /*deixa a fonte em negrito*/
    color: #030303;
}

a /*modifica os links*/{
    text-decoration: none;
    color: inherit; /*mantem a cor original da fonte*/
}

h1 {
    color: #FF008E;
    font-size: 2rem;
}

p{
    color: #000000;
    font-size: 25px;
}

button{
    color: aquamarine;
    padding: 10px 15px; /*altura e largura*/
    border-radius: 8px; /*circunferencia*/
    border: 0;
    font-weight: bold; /*espessura da fonte*/
    background: #e77894; /*cor do fundo*/
    color: #0a0a09; 
}

header {
    background: no-repeat center/cover url('assets/montefuji.jpg');
    height: calc(100vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 150px;
}

header nav p {
    font-weight: bold;
}

header nav ul { /* deixa a lista do canto superior do site um do lado do outro */
    display: flex;
}

header nav ul li { /* deixa um espaço na lista*/
    margin: 0 15px;
}

.header-content { 
    max-width: 400px;
    margin: 150px auto; /* deixar automatico*/
    text-align: center;
}

.header-content h1 { /* edita o titulo */
    margin-bottom: 10px; /*tamanho do botao*/
    font-size: 4rem;/*tamanho do titulo*/
}

.pacotes {
    background: #FF9494;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px;
    height: 200px;
    background: #FFD1D1;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card-image { /*editar a imagem com o link*/
    width: 250px;
    height: 200px;
    border-radius: 24px 24px 0 0;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin: 3px;
    color: #000000;
    font-weight: bold;
}

.pacotes .card-content li svg {/*tamanho dos icones*/
    width: 16px;
    height: 16px;
    margin-right: 10px;
}